<% if @position and eval("@position.title_#{Language}") %>
  <h2><%= eval("@position.title_#{Language}") %></h2>
  <p><%= format(eval("@position.description_#{Language}")) %></p>
  <% if false %>
    <% if Language.to_s == "no" %>
      <h3>Søk på stilling</h3>
      <p>Fyll ut samtlige felter under og klikk på "Søk nå!" for å søke på denne stillingen.</p>
    <% else %>
      <h3>Apply for position</h3>
      <p>Fill in on and all fields in the below form and press "Apply now!" to apply for this position.</p>
    <% end %>
    <%

      str = {}
      if Language.to_s == "en"
        str[:firstname] = "First name"
        str[:lastname] = "Last name"
        str[:emailaddress] = "E-mail address"
        str[:atschool] = "at your school"
        str[:phone] = "Phone number"
        str[:about] = "Information about yourself"
        str[:background] = "Relevant experience"
        str[:apply] = "Apply now!"
      else
        str[:firstname] = "Fornavn"
        str[:lastname] = "Etternavn"
        str[:emailaddress] = "E-postadresse"
        str[:atschool] = "ved studiested"
        str[:phone] = "Mobiltelefonnr."
        str[:about] = "Informasjon om deg"
        str[:background] = "Relevant bakgrunn"
        str[:apply] = "Søk nå!"
      end

    %>
    <% form_tag(:action => "apply") do %>
      <%= hidden_field(:position, :id) %>
      <div style="float: left; margin-right: 10px">
        <b><%= str[:firstname] %></b><br />
        <%= text_field("applicant", "firstname") %>
      </div>
      <div>
        <b><%= str[:lastname] %></b><br />
        <%= text_field("applicant", "lastname") %>
      </div>
      <br />
      <div style="float: left; margin-right: 10px">
        <b><%= str[:emailaddress] %></b> (<%= str[:atschool] %>)<br />
        <%= text_field("applicant", "mail") %>
      </div>
      <div>
        <b><%= str[:phone] %></b><br />
        <%= text_field("applicant", "phone") %>
      </div>
      <br />
      <b><%= str[:about] %></b><br />
      <%= text_area("applicant", "information", :cols => 125, :rows => 10) %>
      <br /><br />
      <b><%= str[:background] %></b><br />
      <%= text_area("applicant", "background", :cols => 125, :rows => 10) %>
      <br /><br />
      <%= submit_tag(str[:apply]) %>
    <% end %>
  <% end %>
<% else %>
  <h2>Position not found</h2>
  <p>The requested position could not be found.</p>
<% end %>
&nbsp;
