<% content_for :script do %>
  <%= javascript_include_tag 'new_applicant' %>
<%end%>
<h1><%= t("position.form")%></h1>
<p><%= t("position.fill_in") %></p>
<% form_for(@applicant, :url => {:controller => "positions", :action => "save"}) do |f| %>
  <p>  
    <div style="float: left; margin-right: 10px">
      <b><%= t("person.first_name")%>:</b><br />
      <%= f.text_field :firstname, :placeholder => t("person.first_name") %>
    </div>
    <div>
      <b><%= t("person.last_name") %>:</b><br />
      <%= f.text_field :lastname, :placeholder => t("person.last_name") %>
    </div>
    <br />
    <div style="float: left; margin-right: 10px">
      <b><%= t("person.email_ntnu") %>:</b><br />
      <%= f.text_field :mail, :placeholder => t("person.email_ntnu") %>
    </div>
    <div>
      <b><%= t("person.phone") %></b><br />
      <%= f.text_field :phone, :placeholder => t("person.phone_nor") %>
    </div>
  </p>
  <br />
  <p>
    <b><%= t("position.first_choice")%>:</b> <i>(<%= t("position.obligatory")%>)</i><br>
    <%= f.select 'position_id_1', @positions.to_select %>
  </p>
  <p>
    <b><%= t("position.second_choice") %>:</b> <i>(frivillig)</i><br>
    <%= f.select 'position_id_2', @positions.to_select %>
  </p>
  <p>
    <b><%= t("position.third_choice") %>:</b> <i>(frivillig)</i><br>
    <%= f.select 'position_id_3', @positions.to_select %>
  </p>

  <p>
    <b><%= t("position.about_you")%>:</b><br />
    <%= f.text_area("information",:cols => 63, :rows => 10) %>
  </p>
  <p>
    <b><%= t("position.background")%>:</b><br />
    <%= f.text_area(:background, :cols => 63,:rows => 10) %>
  </p>
  <p>
    <b><%= t("position.hear_about") %>:</b><br>
    <%= f.text_area(:heardof,:cols => 63, :rows=>5)%><br>
    <%= f.submit t("position.apply") %>
  </p>
<% end %>



