<script type="text/javascript">
  $(function () {
      $('#main').imgAreaSelect({ minWidth: 531, minHeight: 196,aspectRatio: '2.71:1',  handles: true , onSelectEnd: function (img, selection) { $('input[name=x1]').val(selection.x1); $('input[name=y1]').val(selection.y1); $('input[name=x2]').val(selection.x2); $('input[name=y2]').val(selection.y2); } 
        });
      $('#half').imgAreaSelect({ minWidth: 253, minHeight: 136,aspectRatio: '1.86:1',  handles: true , onSelectEnd: function (img, selection) { $('input[name=x1_1]').val(selection.x1); $('input[name=y1_1]').val(selection.y1); $('input[name=x2_1]').val(selection.x2); $('input[name=y2_1]').val(selection.y2); } 
        });

      $('#article').imgAreaSelect({ minWidth: 531, minHeight: 250,aspectRatio: '2.12:1',  handles: true , onSelectEnd: function (img, selection) { $('input[name=x1_2]').val(selection.x1); $('input[name=y1_2]').val(selection.y1); $('input[name=x2_2]').val(selection.x2); $('input[name=y2_2]').val(selection.y2); } 
        });
      });
    </script>


    <h1>Crop picture here:</h1>

    <%=image_tag @picture.original_picture.url, :id=>"main" %>
    <br />
    <%=image_tag @picture.original_picture.url, :id=>"half" %>
    <br />
    <%=image_tag @picture.original_picture.url, :id=>"article" %>
    <br />

    <p></p>

    <%form_tag( {:action => "crop_create", :tab => params[:tab], :picture => @picture.id}) do  %>
      <%= hidden_field_tag :x1, ""%>
      <%= hidden_field_tag :y1, ""%>
      <%= hidden_field_tag :x2, ""%>
      <%= hidden_field_tag :y2, ""%>
      <%= hidden_field_tag :x1_1, ""%>
      <%= hidden_field_tag :y1_1, ""%>
      <%= hidden_field_tag :x2_1, ""%>
      <%= hidden_field_tag :y2_1, ""%>
      <%= hidden_field_tag :x1_2, ""%>
      <%= hidden_field_tag :y1_2, ""%>
      <%= hidden_field_tag :x2_2, ""%>
      <%= hidden_field_tag :y2_2, ""%> 

      <%= submit_tag 'Save' %>
    <%end%>
