<div id="overskrift" class="grid_14 alpha omega"><!--- Start overskrift --->
  <center><%=t('article.header')%></center>
</div><!--- Slutt overskrift --->
<%counter = 0
Article.find(:all).each do |article| %>
  <%if article.main_article %>
    <div id="hoved_artikkel" class="grid_14 alpha omega">
    <%else%>
      <%classtext = "grid_7 "+  (counter%2 == 0 ? "alpha" : "omega")
      counter +=1
    %>
    <div id="artikkel" class="<%=classtext%>">
    <%end%>
    <a href="<%=article_path(article, :tab=>params[:tab])%>">
      <h1><%=article.title%></h1>
      <%=image_tag("article/"+article.id.to_s+".png") %>
      <p><%=article.ingress%></p>
    </a>
  </div>
<%end%>

<%= link_to 'New Article', new_article_path %>
