<div id="overskrift" class="grid_14 alpha omega"><!--- Start overskrift --->
  <center>NYHETER</center>
</div><!--- Slutt overskrift --->

<div id="hoved_artikkel" class="grid_14 alpha omega"><!--- Start hoved_artikkel --->
  <a href="">
    <h1>Lorem Ipsum</h1>
    <%= image_tag ("article/art1.png")%>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in sem neque, sit amet auctor lacus. Duis dapibus nisl a erat ultricies accumsan. Duis id volutpat nisi. Vivamus magna libero, pretium nec pulvinar vel, molestie non nunc. Nullam eget imperdiet purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis erat vitae enim varius viverra.</p></a>
</div><!--- Slutt hoved_artikkel --->

<div id="artikkel" class="grid_7 alpha"><!--- Start artikkel --->
  <a href="#artikkel">
    <h1>Lorem Ipsum</h1>
    <%= image_tag ("article/art2.png") %>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in sem neque, sit amet auctor lacus. Duis dapibus nisl a erat ultricies accumsan. Duis id volutpat nisi. Vivamus magna libero, pretium nec pulvinar vel, molestie non nunc. Nullam eget imperdiet purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis erat vitae enim varius viverra.</p></a>
</div><!--- Slutt artikkel --->

<div id="artikkel" class="grid_7 omega"><!--- Start artikkel --->
  <a href="#artikkel">
    <h1>Lorem Ipsum</h1>
    <%= image_tag ("article/art3.png") %>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in sem neque, sit amet auctor lacus. Duis dapibus nisl a erat ultricies accumsan. Duis id volutpat nisi. Vivamus magna libero, pretium nec pulvinar vel, molestie non nunc. Nullam eget imperdiet purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis erat vitae enim varius viverra.</p></a>
</div><!--- Slutt artikkel --->

<div id="artikkel" class="grid_7 alpha"><!--- Start artikkel --->
  <a href="#artikkel">
    <h1>Lorem Ipsum</h1>
    <%= image_tag ("article/art4.png") %>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in sem neque, sit amet auctor lacus. Duis dapibus nisl a erat ultricies accumsan. Duis id volutpat nisi. Vivamus magna libero, pretium nec pulvinar vel, molestie non nunc. Nullam eget imperdiet purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis erat vitae enim varius viverra.</p></a>
</div><!--- Slutt artikkel --->

<div id="artikkel" class="grid_7 omega"><!--- Start artikkel --->
  <a href="#artikkel">
    <h1>Lorem Ipsum</h1>
    <%= image_tag ("article/art5.png") %>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in sem neque, sit amet auctor lacus. Duis dapibus nisl a erat ultricies accumsan. Duis id volutpat nisi. Vivamus magna libero, pretium nec pulvinar vel, molestie non nunc. Nullam eget imperdiet purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis erat vitae enim varius viverra.</p></a>
</div><!--- Slutt artikkel --->


<%= link_to 'New Article', new_article_path %>
