<p id="notice"><%= notice %></p>

<p>
  <b>Title en:</b>
  <%= @article.title_en %>
</p>

<p>
  <b>Title no:</b>
  <%= @article.title_no %>
</p>

<p>
  <b>Ingress en:</b>
  <%= @article.ingress_en %>
</p>

<p>
  <b>Ingress no:</b>
  <%= @article.ingress_no %>
</p>

<p>
  <b>Body en:</b>
  <%= @article.body_en %>
</p>

<p>
  <b>Body no:</b>
  <%= @article.body_no %>
</p>

<p>
  <b>List:</b>
  <%= @article.list %>
</p>

<p>
  <b>Weight:</b>
  <%= @article.weight %>
</p>

<p>
  <b>Deleted:</b>
  <%= @article.deleted %>
</p>

<p>
  <b>Press release:</b>
  <%= @article.press_release %>
</p>

<p>
  <b>Sub title en:</b>
  <%= @article.sub_title_en %>
</p>

<p>
  <b>Sub title no:</b>
  <%= @article.sub_title_no %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
