<div id="article">
<h3>
  <%= @article.title %>
</h3>
<p>
<%=image_tag "article_images/"+@article.id.to_s + "_3.jpg"%>
<br />
<%= @article.byline%>
</p>
<p>
<%=  @article.created_at.strftime("%F")%>
</p>
<br />
<p>
  <b><%=raw format( @article.ingress) %></b>
</p>
<br />
<p>
  <%= raw format(@article.body) %>
</p>
</div>
