<h3>
  <%= @article.title %>
</h3>
<br />
<p>
<%=  @article.created_at.strftime("%F")%>
</p>
<br />
<p>
  <b><%=raw format( @article.ingress) %></b>
</p>
<br />
<p>
  <%=raw format((@article.body).gsub("\n", "<br />")) %>
 </p>
<%= link_to 'Edit', edit_article_path(@article, :tab=>params[:tab]) %> |
<%= link_to 'Back', articles_path %>
