<div id="article">
<h3>
  <%= @article.title %>
</h3>
<p>
<%=image_tag "article_images/"+@article.id.to_s + "_3.jpg"%>
<br />
<%=raw @article.byline%>
</p>
<p>
<%=  @article.created_at.strftime("%F")%>
</p>
<br />
<p>
  <b><%=raw format( @article.ingress) %></b>
</p>
<br />
<p style="text-align:justify">
  <% if @article.body == "" %>
    This article is not available in your language
  <%else%>
    <%= raw format(@article.body) %>
  <%end%>
</p>
</div>


