<% if params[:action] == "new"
	action = "create"
   else
	action = "update"
   end
%>
<% form_for(@event, :as => :event, :url=>{:tab=>params[:tab], :action=>action, :controller=>"events"}) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
