<h1>Listing pages</h1>

<table>
  <tr>
    <th>Title en</th>
    <th>Title no</th>
    <th>Ingress en</th>
    <th>Ingress no</th>
    <th>Body en</th>
    <th>Body no</th>
    <th>Tag</th>
    <th>Deleted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.title_en %></td>
    <td><%= page.title_no %></td>
    <td><%= page.ingress_en %></td>
    <td><%= page.ingress_no %></td>
    <td><%= page.body_en %></td>
    <td><%= page.body_no %></td>
    <td><%= page.tag %></td>
    <td><%= page.deleted %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_page_path %>
